<%- include('partials/header') %> 
<div class="banner">
  <img src="pex-01.png" alt="">
  <h3>Join Our Next Auction! Find Your Equipment</h3>
  <!-- <form class="d-flex" role="search">    
    <span class="input-group-text" id="basic-addon2"><i class="fa-solid fa-magnifying-glass"></i></span>
    <button class="btn btn-dark" type="submit"></button>
  </form> -->
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="I am looking for..." aria-describedby="basic-addon2">
    <span class="input-group-text" id="basic-addon2"><i class="fa-solid fa-magnifying-glass"></i></span>
  </div>
</div>
<section id="cateogaries">
  <h3>Explore Popular Cateogaries</h3>
  <div class="d-flex">
  <div class="container1">
    <div class="cateo">
      <div class="cateo-content">
        <i class="fa-solid fa-earth-americas"></i>
    </div>
    <h5>All</h5>
    </div>
    <div class="cateo">
      <div class="cateo-content">
        <i class="fa-solid fa-gem"></i>
    </div>
    <h5>Jewellery</h5>
    </div>
    <div class="cateo">
      <div class="cateo-content">
        <i class="fa-solid fa-chair"></i>
    </div>
    <h5>Furniture</h5>
    </div>
    <div class="cateo">
      <div class="cateo-content">
        <i class="fa-solid fa-car"></i>
    </div>
    <h5>Automobiles</h5>
    </div>
    <div class="cateo">
      <div class="cateo-content">
        <i class="fa-solid fa-mobile-screen-button"></i>
    </div>
    <h5>Mobiles</h5>
    </div>
    <div class="cateo">
      <div class="cateo-content">
        <i class="fa-solid fa-laptop"></i>
    </div>
    <h5>Electronics</h5>
    </div>
    <div class="cateo">
      <div class="cateo-content">
        <i class="fa-solid fa-shirt"></i>
    </div>
    <h5>Fashion</h5>
    </div>
    <div class="cateo">
      <div class="cateo-content">
        <i class="fa-solid fa-building" ></i>
    </div>
    <h5>Real Estate</h5>
    </div>
    <div class="cateo">
      <div class="cateo-content">
        <i class="fa-solid fa-desktop"></i>
    </div>
    <h5>Computers</h5>
    </div>
  </div>
  </div>
</section>
<section id="products">
<h3>Products</h3>
<div class="row">
  <div class="card" >
    <img src="live-auc1.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Apple Watch 2020 Collection</h5>
      <div class="card-text d-flex">
        <div class="d-flex profile">
          <div class="bidder-pp"><img src="auction-authr1.png" alt="customer profile pic" style="object-fit: contain; width: 100%;"></div>
          <p>Alexandar Arnold</p>
        </div>
        <p class="price">$500</p>
      </div>
      <a href="/product" class="btn btn-danger">Bid Now</a>
    </div>
</div>
<div class="card" >
  <img src="live-auc1.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Apple Watch 2020 Collection</h5>
    <div class="card-text d-flex">
      <div class="d-flex profile">
        <div class="bidder-pp"><img src="auction-authr1.png" alt="customer profile pic" style="object-fit: contain; width: 100%;"></div>
        <p>Alexandar Arnold</p>
      </div>
      <p class="price">$500</p>
    </div>
    <a href="/product" class="btn btn-danger">Bid Now</a>
  </div>
</div>
<div class="card" >
  <img src="live-auc1.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Apple Watch 2020 Collection</h5>
    <div class="card-text d-flex">
      <div class="d-flex profile">
        <div class="bidder-pp"><img src="auction-authr1.png" alt="customer profile pic" style="object-fit: contain; width: 100%;"></div>
        <p>Alexandar Arnold</p>
      </div>
      <p class="price">$500</p>
    </div>
    <a href="/product" class="btn btn-danger">Bid Now</a>
  </div>
</div>
<div class="card" >
  <img src="live-auc1.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Apple Watch 2020 Collection</h5>
    <div class="card-text d-flex">
      <div class="d-flex profile">
        <div class="bidder-pp"><img src="auction-authr1.png" alt="customer profile pic" style="object-fit: contain; width: 100%;"></div>
        <p>Alexandar Arnold</p>
      </div>
      <p class="price">$500</p>
    </div>
    <a href="/product" class="btn btn-danger">Bid Now</a>
  </div>
</div>
<div class="card" >
  <img src="live-auc1.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Apple Watch 2020 Collection</h5>
    <div class="card-text d-flex">
      <div class="d-flex profile">
        <div class="bidder-pp"><img src="auction-authr1.png" alt="customer profile pic" style="object-fit: contain; width: 100%;"></div>
        <p>Alexandar Arnold</p>
      </div>
      <p class="price">$500</p>
    </div>
    <a href="/product" class="btn btn-danger">Bid Now</a>
  </div>
</div>
<div class="card" >
  <img src="live-auc1.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Apple Watch 2020 Collection</h5>
    <div class="card-text d-flex">
      <div class="d-flex profile">
        <div class="bidder-pp"><img src="auction-authr1.png" alt="customer profile pic" style="object-fit: contain; width: 100%;"></div>
        <p>Alexandar Arnold</p>
      </div>
      <p class="price">$500</p>
    </div>
    <a href="/product" class="btn btn-danger">Bid Now</a>
  </div>
</div>
<div class="card" >
  <img src="live-auc1.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Apple Watch 2020 Collection</h5>
    <div class="card-text d-flex">
      <div class="d-flex profile">
        <div class="bidder-pp"><img src="auction-authr1.png" alt="customer profile pic" style="object-fit: contain; width: 100%;"></div>
        <p>Alexandar Arnold</p>
      </div>
      <p class="price">$500</p>
    </div>
    <a href="/product" class="btn btn-danger">Bid Now</a>
  </div>
</div>
<div class="card" >
  <img src="live-auc1.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Apple Watch 2020 Collection</h5>
    <div class="card-text d-flex">
      <div class="d-flex profile">
        <div class="bidder-pp"><img src="auction-authr1.png" alt="customer profile pic" style="object-fit: contain; width: 100%;"></div>
        <p>Alexandar Arnold</p>
      </div>
      <p class="price">$500</p>
    </div>
    <a href="/product" class="btn btn-danger">Bid Now</a>
  </div>
</div>
</div>
</section>


<%- include('partials/footer') %> 
