<%- include('partials/header') %> 
<div id="body-product">
<div class="row">
    <div class="img-carousel col-lg-6 col-md-3 col-sm-2">
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="live-auc1.png" style="width: 100%;" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="car.jpg" style="width: 100%;" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
    <div class="product-content col-lg-6 col-md-3 col-sm-2">
        <h1>Creative Fashion Riboon Digital Watch Little Elegant.</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni architecto nisi earum itaque quas necessitatibus qui sed voluptas, praesentium consequuntur.</p>
        <p><em style="color: red;">Remaining Time :</em> 9d 15h 56m 34s</p>
        <p><em style="color: red;">Auction Ends :</em> 30/01/23 05:00 PM</p>
        <p><em style="color: red;">Minimum Bid :</em> $100.00</p>
        <p><em style="color: red;">High Bid :</em> $11000</p>
        <h3>Bidding Price: <span style="font-weight: 600;">$450.00</span></h3>
        <form class="d-flex bid-input" role="search">
            <input class="form-control me-2" type="search" placeholder="$00.00" aria-label="Search">
            <button class="btn btn-danger" type="submit">Place Bid</buttosn>
          </form>
        
    </div>
</div>
</div>

<%- include('partials/footer') %> 
