::-webkit-scrollbar{
    display: none;
}

.navbar .navbar-brand{
    font-size: 25px;
    font-weight: 700;
    margin-right: 80px;
}
.navbar{
    font-weight: 500;
    padding: 1% 4%;
    font-family: 'Satoshi', sans-serif;
}
.navbar button{
    margin-left: 20px;
}
.navbar .listing{
    border-radius: 25px;
}

.banner{
    width: 100%;
    height: 550px;
    margin: 0;
    
}
#basic-addon2{
    padding-left: 20px;
    padding-right: 20px;
}
.banner img{
    width: 100%;
    height: 550px;
    position: absolute;
    z-index: -1;
    object-fit: cover ;
    opacity: 80%;
}
.banner1 .input-group{
    z-index: 1;
    padding-left: 4%;
    padding-right: 800px;
    padding-top: 30px;
}
.banner1 .form-control{
    padding: 15px;
    outline: none;
    border: none;
}
.banner h3{
    z-index: 1;
    padding-left: 4%;
    padding-right: 800px;
    padding-top: 150px;
    font-size: 48px;
    color: white;
    font-family: 'Satoshi', sans-serif;
    font-weight: 600;
}
.banner .input-group-text{
    background-color: crimson;
    color: white;

}

#cateogaries{
    background-color: rgb(232, 232, 232);
}

#cateogaries .card{
    padding: 4% 4%;
}
#cateogaries h3{
    padding: 4% 0% 0% 4% ;
    font-family: 'Satoshi', sans-serif;
    font-weight: 700;
}
#cateogaries .container1{
    width: 100%;
    height: 250px;
    padding: 0;
    margin: 2% 4%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    /* flex-wrap: nowrap; */
}
.container1 .cateo{
    height: 200px;
    width: 200px;
    margin: 10px;
    background-color: white;
    border-radius: 20px;
    display: inline-block;
    justify-content: space-evenly;
    color: green;
    font-family: 'Satoshi', sans-serif;
    font-size: 300;
}


.container1 h5{
    font-size: 24px;
    text-align: center;
    padding-top: 12px;
    color: black;
    font-family: 'Satoshi', sans-serif;
    font-weight: 500;
}
.container1 i{
    font-size: 48px;
    margin-top: 38px;
    margin-left: 54px;
    background-color: crimson;
    color: white;
    width: 90px;
    height: 90px;
    padding: 20px 0;
    text-align: center;
    border-radius: 50px;

}


/* Products============================================ */

#products{
    padding: 0 4%;
    background-color: rgb(232, 232, 232);
    padding-bottom: 1%;
}
#products h3{
    margin-bottom: 50px;
    font-family: 'Satoshi', sans-serif;
    font-weight: 700;
}

#products .card{
    margin: 1%; 
    padding: 0;
    width: 20rem;
}
#products .row{
    justify-content: space-evenly;
}

#products .bidder-pp{
    height: 24px;
    width: 24px;
    /* background-color: red; */
    border-radius: 12px;
    margin-right: 5px;
}
#products .card-text{
    justify-content: space-between;
    align-items: baseline;
    font-family: 'Satoshi', sans-serif;
    font-weight: 600;
    color: grey;
}
.card .price{
    font-size: 24px;
    color: red;
}
.card .profile{
    margin-top: 10px;
}
.card .btn{
    border-radius: 25px;
}


.footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 2%;

}


/* ProductEJS================ */

#body-product{
    background-color: rgb(232, 232, 232);
    padding: 2%;
}

.carousel-item img{
    width: 50%;
}
.img-carousel{
    padding: 3%;
    background-color: white;
    /* border-radius: 14px; */
}
.product-content{
    padding: 3%;
    background-color: white;
    /* border-radius: 14px; */
    font-family: 'Satoshi', sans-serif;
}
.product-content em{
    font-style: normal;
    font-weight: 500;
    font-family: 'Satoshi', sans-serif;

}
.product-content .bid-input{
    padding-right: 20px;
}
.bid-input input{
    width: 280px;
    background-color: rgb(232, 232, 232);
}
.product-content h1{
    font-weight: 700;
}















/* Responsive */

@media only screen and (max-width: 600px) {
    .banner h3{
        font-size: 28px;
        padding-right: 0;
    }
    .banner1 .input-group{
        padding-right: 40px;
    }
    #products .card{
       width: auto;
       margin-bottom: 2%;
    }
  }